#main{
    margin: 0 50px;
    padding: 10px;

}
#side{
    width: 280px;
    float:left;
    overflow: auto;

}

.wrapper{

    height: 600px;
}
footer{

}


@media (max-width: 850px) {
    #main {
        margin: 0;

    }
    #side{
        float:none;
        width:100%;

    }
    .wrapper{

        height: auto;
    }

}
